.about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 1200px; /* Set a max-width for industry standard margin */
    margin: 0 auto; /* Center the container */
  }
  
  .about-title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: left; /* Align text to the left */
  }
  
  .about-description {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 40px;
    text-align: left; /* Align text to the left */
  }
  
  .contactUs {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .contactUs:hover {
    background-color: #0056b3;
  }