@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'roboto-slab';
  src: url('../public/fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../public/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../public/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: bold;
}

@font-face {
  font-family: 'roboto';
  src: url('../public/fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: light;
}

@layer base {
  body {
    background-color: #35408e;
    font-family: 'roboto', sans-serif;
  }
}

@layer components {
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
}